name: Review pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        run: npm ci

      - name: Test
        run: npm test

  docker:
    runs-on: ubuntu-latest
    needs: build
    
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      GAR_HOSTNAME: europe-north1-docker.pkg.dev/gridtests/gd-cicd
      IMG_NAME: demo-api

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: GCP Auth
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

      - name: Configure Docker
        run: gcloud auth configure-docker $GAR_HOSTNAME --quiet

      - name: Build Docker
        run: |
          export IMG_FULL_NAME="$GAR_HOSTNAME/$IMG_NAME:${{ github.sha }}"
          docker build -t $IMG_FULL_NAME .

      - name: Scan Image
        run: echo "scan image"
      
      - name: Push Image
        run: docker push $IMG_FULL_NAME